<launch>
    <!-- LiDAR Connect -->
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
        <remap from="~input" to="/livox/lidar" />
        <rosparam>
        filter_field_name: z
        filter_limit_min: -0.5
        filter_limit_max: 0.5
        filter_limit_negative: False
        leaf_size: 0.1
        downsample_all_data: true
        </rosparam>
    </node>

    <!-- Run pointcloud_to_laser node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/voxel_grid/output"/>
        <remap from="scan" to="/scan"/>
        <rosparam>
            angle_max: 3.14159
            angle_min: -3.14159
            max_height: 0.5
            min_height: -0.5
            range_min: 0.5
            use_inf: true
            inf_epsilon: -1
        </rosparam>
    </node>
    
</launch>